<launch>
   <include file="$(find robotis_example)/launch/robotis_example.launch" />
   <include file="$(find robotis_example)/launch/imu_view.launch" />
   <include file="$(find robotis_op2_camera)/launch/robotis_op2-camera.launch" />
   <include file="$(find ball_detector)/launch/ball_detector_from_op.launch" />
</launch> 
